{% extends "base.html" %}
{% block title %}contants{% endblock title %}
{% block body %}
<div class="container-fluid mx-0 px-0">
    <img src="https://source.unsplash.com/random/?Contact" class="d-block w-100" alt="..." style="max-height:600px">
</div>
<h1 class="text-center">Contact Us</h1>
<div class="container">
    <form method="post" action="/contacts">
    {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Enter your name</label>
          <input type="text" class="form-control"   id="name" name="name" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">your name is confidential</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="Email" class="form-control" name="email" id="exampleInputEmail">
          </div>
          <div class="mb-3">
            <label for="exampleInputph" class="form-label">Phone number</label>
            <input type="phone" class="form-control" name="phone" id="exampleInputph">
          </div>
          <div class="mb-3">
            <label for="desc">Enter Text:</label>
            <textarea class="form-control" type="text" id="desc" name="desc" placeholder="Type here..."></textarea>
          </div>
        
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}